<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.OmsStationMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.OmsStation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="stationid" jdbcType="BIGINT" property="stationid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="logisticsid" jdbcType="BIGINT" property="logisticsid" />
    <result column="orderid" jdbcType="BIGINT" property="orderid" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="payer" jdbcType="VARCHAR" property="payer" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, stationid, status, logisticsid, orderid, price, payer
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.model.OmsStationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oms_station
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oms_station
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oms_station
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.OmsStationExample">
    delete from oms_station
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.OmsStation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oms_station (stationid, status, logisticsid, 
      orderid, price, payer
      )
    values (#{stationid,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{logisticsid,jdbcType=BIGINT}, 
      #{orderid,jdbcType=BIGINT}, #{price,jdbcType=DECIMAL}, #{payer,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.OmsStation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oms_station
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stationid != null">
        stationid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="logisticsid != null">
        logisticsid,
      </if>
      <if test="orderid != null">
        orderid,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="payer != null">
        payer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stationid != null">
        #{stationid,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="logisticsid != null">
        #{logisticsid,jdbcType=BIGINT},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=BIGINT},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="payer != null">
        #{payer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.OmsStationExample" resultType="java.lang.Long">
    select count(*) from oms_station
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update oms_station
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.stationid != null">
        stationid = #{record.stationid,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.logisticsid != null">
        logisticsid = #{record.logisticsid,jdbcType=BIGINT},
      </if>
      <if test="record.orderid != null">
        orderid = #{record.orderid,jdbcType=BIGINT},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.payer != null">
        payer = #{record.payer,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update oms_station
    set id = #{record.id,jdbcType=BIGINT},
      stationid = #{record.stationid,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER},
      logisticsid = #{record.logisticsid,jdbcType=BIGINT},
      orderid = #{record.orderid,jdbcType=BIGINT},
      price = #{record.price,jdbcType=DECIMAL},
      payer = #{record.payer,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.OmsStation">
    update oms_station
    <set>
      <if test="stationid != null">
        stationid = #{stationid,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="logisticsid != null">
        logisticsid = #{logisticsid,jdbcType=BIGINT},
      </if>
      <if test="orderid != null">
        orderid = #{orderid,jdbcType=BIGINT},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="payer != null">
        payer = #{payer,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.OmsStation">
    update oms_station
    set stationid = #{stationid,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      logisticsid = #{logisticsid,jdbcType=BIGINT},
      orderid = #{orderid,jdbcType=BIGINT},
      price = #{price,jdbcType=DECIMAL},
      payer = #{payer,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>